<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/latest/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="./framework/bootstrap.php"
        cacheResult="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">
    <filter>
        <whitelist>
            <directory>./framework</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Framework tests">
            <directory>./tests</directory>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>
</phpunit>