{% extends 'admin/layout.html.twig' %}

{% block title %}Projects{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">About me</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ about.value.text }}
        </div>
    </div>
{% endblock %}