{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <p>
            Выпускник ГГТУ (Государственного Гуманитарно-Технологического Университета) города Орехово-Зуево по
            специальности "педагог информатики и английского языка".
            Как только в нашем доме появился компьютер, понял, что направление "человек-техника"- это про меня. <br>
            Женат на замечательной девушке, что меня вдохновляет на развитие и творчество. А также с недавних пор стал
            отцом. Люблю читать фантастику и слушать музыку.<br><br>
            В настоящее время развиваюсь в сфере программирования (а точнее, моя основная специальность - back-end PHP
            разработчик).
        </p>
        <p>
            Работаю в компании <a target="_blank" href="https://viqeo.tv">Viqeo</a>
        </p>
        <p>
            Примеры моего кода можно посмотреть <a target="_blank" href="https://github.com/drumser">здесь</a>.
        </p>
    </div>
{% endblock %}