{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <p>Записей пока нету.. Пользователь: {{ username }}</p>
            </div>
            {#            <div class="col-md-12 post">#}
            {#                <div class="title">#}
            {#                    <h3><a href="#">Учимся рендерить с помощью ffmpeg</a></h3>#}
            {#                </div>#}
            {#                <div class="text">#}
            {#                    <p>#}
            {#                        Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития.#}
            {#                    </p>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}