{% extends 'layout.html.twig' %}

{% block title %}Project: {{ project.title }}{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box" style="margin-bottom: 10px;">
                    <div class="title" style="border-bottom: 1px solid #e7e7e7;">
                        <h3 style="">{{ project.title }}</h3>
                    </div>
                    <p style="margin-top: 0;">{{ project.text | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}